/* IMPORTANDO FONTE DANCING SCRIPT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FIM DA IMPORTAÇÃO */
/* VARIÁVEIS DE CORES */
:root{
    --cor-fundo-cabecalho: #EBCAB3;
    --cor-fundo-body: #FBE8E7;
    --cor-letras: #763123;
    --cor-botoes: #BB8B77;
}
body{
    
}
/* FIM VARIÁVEIS DE CORES */
.block-form{
    border: 1px solid #000;
    width: 300px;
    height: 400px;
    display: flex;
}
input{
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
}
.botao{
    background-color: var(--cor-letras);
    color: #fff;
    border: none;
    width: 250px;
    letter-spacing: 1px;
    font-family: 'Poppins';
}
h2{
    font-family: 'Dancing Script';
    color: var(--cor-letras);
}
h5{
    letter-spacing: 1px;
    font-family: 'Poppins';
}
.btn-form{
    background-color: var(--cor-letras);
    color: var(--cor-fundo-cabecalho);
    font-family: 'Poppins';
    box-shadow: 2px 2px #000;
    border: 1px solid var(--cor-letras);
}
.titulo{
    font-family: 'Dancing Script';
    font-size: 1.5rem;
    letter-spacing: 5px;
}
.color-1{
    color: var(--cor-letras);
}
.color-2{
    color: var(--cor-fundo-cabecalho);
}
.color-3{
    color: var(--cor-letras);
}
.texto-sacola{
    font-family: 'Poppins';
    font-size: 1.4rem;
}