/* IMPORTANDO FONTE DANCING SCRIPT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FIM DA IMPORTAÇÃO */
*{
    box-sizing: border-box;
    margin: 0;
}
body{   
    background-color: var(--cor-fundo-body)!important;
}
/* VARIÁVEIS DE CORES */
:root{
    --cor-fundo-cabecalho: #EBCAB3;
    --cor-fundo-body: #FBE8E7;
    --cor-letras: #763123;
    --cor-botoes: #BB8B77;
}
/* FIM VARIÁVEIS DE CORES */
/* ESTILOS DO CABEÇALHO */
#fundo-cabecalho{
    background-color: var(--cor-fundo-cabecalho);
    min-height: 5rem;
    overflow-x: hidden;
 
}

.logo{
    position: absolute;
    top: 3rem;
    z-index: 5;
}
.corpo-links{
    font-family: 'Dancing Script';
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: justify;
    color: var(--cor-letras);
}
.no-break{
    white-space: nowrap;
}
.triangulo{
    position: absolute;
    top: 7.2%;
    width: 22px;
    height: 22px;
    left: -1.5%;
}
#fundo-cabecalho::after {
    content: "";
    display: block;
    height: 25px;
    background: url('../icones/icone-triangulos.svg') repeat-x;
    background-size: auto 100%; 
    background-position: center;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 1;
    top: 4.4rem;
    

}

.img-fundo{
    box-shadow: 0px 1.5px  #00000091;
}
.box-destaque h1{
    position: absolute;
}
.titulos{
    font-family: 'Dancing Script';
    font-weight: bold;
    color: var(--cor-letras);
}
.fundo-texto-card{
    text-align: justify;
    width: 20rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-family: 'Poppin';
    margin: 30px;
    color: var(--cor-letras);
}
.seta-coracao{
    width: 135px;
}
/* FIM DOS ESTILOS DO CABEÇALHO */

/* CARD DOS PRODUTOS */
.text-preco{
    color: #94745C;
    font-weight: bold;
  }
.btn-car{
    background-color: var(--cor-botoes);
    color: #fff;
    font-weight: 700;
  }
input[type=number]::-webkit-inner-spin-button { 
    all: unset; 
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
  }
  input[type=number]{
    width: 80px;
    outline: none;
    border: none;
  } 
 /* ESTILO DA TABELA DO CARRINHO */
 
/*  botão flutuante CARRINHO */
.carrinho-flutuante{
    position: fixed; 
    width:60px; 
    height:60px; 
    bottom:40px; 
    right:20px; 
    background-color: var(--cor-letras); 
    color:#FFF; 
    border-radius:50px; 
    text-align:center; 
    font-size:30px; 
    box-shadow: 1px 1px 2px #888;
    z-index:100; 
}
#sacola{
    color: #fff;
    margin: auto;
}
/* FIM CARDS DOS PRODUTOS */
/* BREAKPOINTS */
/* Quando a tela passar de 768px (tablet e acima) */
/* @media (min-width: 768px) and (orientation: landscape){ */
    /* Ajustes para tablet e desktop pequeno */
    /* #fundo-cabecalho::after {
        content: "";
        display: block;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 9%;
    
    }

  } */
  
  /* Quando a tela passar de 992px (desktop padrão) */
  /* @media (min-width: 992px){

    .logo{
        position: absolute;
        top: 12%;
        z-index: 5;
        width: auto;
        height: auto;
    }
    #fundo-cabecalho{
        background-color: var(--cor-fundo-cabecalho);
        min-height: 25vh;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #fundo-cabecalho::after {
        content: "";
        display: block;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 19%;
    
    }
    nav .col a{
        font-family: 'Dancing Script';
        text-decoration: none;
        font-size: 2rem;
        text-align: justify;
        padding: 100px;
        color: var(--cor-letras);
    }

    nav .row{
        margin-top: 5rem;
    }
    
  } */

  /* CELULAR / TABLET DEITADO */
  @media (max-width: 768px) and (orientation: landscape){
    #fundo-cabecalho::after {
        content: "";
        display: none;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 16%;
         
    }
    .fundo-texto-card{
        text-align: justify;
        width: 24rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-family: 'Poppin';
        margin: 30px;
        color: var(--cor-letras);
    }
}

/* Telas médias (laptops pequenos, desktops comuns) */
/* @media (min-width: 1025px) and (max-width: 1366px) {
    #fundo-cabecalho::after {
        content: "";
        display: block;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 9%;
        display: none;    
    }
} */

/* Telas grandes (desktops maiores, telas full HD) */
/* @media (min-width: 1367px) and (max-width: 1920px){
    #fundo-cabecalho::after {
        content: "";
        display: block;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 14%;
        display: none;
    }
} */
  