/* IMPORTANDO FONTE DANCING SCRIPT */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* FIM DA IMPORTAÇÃO */
*{
    box-sizing: border-box;
    margin: 0;
   
}
body{   
    background-color: var(--cor-fundo-body)!important;
}
/* VARIÁVEIS DE CORES */
:root{
    --cor-fundo-cabecalho: #EBCAB3;
    --cor-fundo-body: #FBE8E7;
    --cor-letras: #763123;
    --cor-botoes: #BB8B77;
}
/* FIM VARIÁVEIS DE CORES */

/* ESTILOS DO CABEÇALHO */
#fundo-cabecalho{
    background-color: var(--cor-fundo-cabecalho);
    min-height: 5rem;
    overflow-x: hidden;
 
}

header{
    background-image: url('../imagens/imagem-fundo.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 50vb;
    margin: 0;
    box-shadow: inset 1px 2px 100px var(--cor-fundo-body);
  }
  .nav{
    background-color: var(--cor-fundo-body);
  }
  #texto-fundo{
    font-size: 30px;
    font-weight: bolder !important;
    color: var(--cor-letras);
    font-family: 'Dancing script';
    letter-spacing: 4px;
  }
  .fundo-texto-card {
    text-align: center;
    white-space: initial;
    font-size: 300px;
  }
  #titulo-fundo{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Dancing Script';
  }
  #texto-fundo-corpo{
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins';
  }
  #texto-slogan{
    font-family: 'Dancing Script';
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 5px;
    color: #000;
  }
.logo{
    position: absolute;
    top: 4rem;
    z-index: 5;
}
.corpo-links{
    font-family: 'Dancing Script';
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    color: var(--cor-letras);
    cursor: pointer;
    text-shadow: 0.5px 0.5px 0.5px #0000005d;
}
.btn{
    background-color: #763123 !important;
    color: #fff !important;
    font-family: 'Poppins';
    box-shadow: 3px 3px 3px #000;
}
.corpo-links:hover{
    color: var(--cor-botoes);
    scale: 1.1;
    cursor: pointer;
}
.no-break{
    white-space: nowrap;
}
.titulo-card{
    font-size: 1.5rem;
    font-family: 'Dancing Script';
}
.triangulo{
    position: absolute;
    top: 7.2%;
    width: 22px;
    height: 22px;
    left: -1.5%;
}
#fundo-cabecalho::after {
    content: "";
    display: block;
    height: 25px;
    background: url('../icones/icone-triangulos.svg') repeat-x;
    background-size: auto 100%; 
    background-position: center;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 1;
    top: 4.4rem;
    

}

.img-fundo{
    width: 100%;
}
.box-destaque h1{
    position: absolute;
}
.titulos{
    font-family: 'Dancing Script';
    font-weight: bold;
    color: var(--cor-letras);
}
.fundo-texto-card{
    text-align: justify;
    width: 75%;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: 'Poppins';
    color: var(--cor-letras);
    font-size: 0.9rem;
}
.seta-coracao{
    width: 135px;
}

.modal-sobre-entrega{
    background-color: var(--cor-fundo-body) !important;
}
.titulo-modal-entrega{
    color: var(--cor-letras) !important;
    font-family: 'Dancing Script';
    font-size: 30px;
}
.modal-body{
    color: var(--cor-letras);
}
/* FIM DOS ESTILOS DO CABEÇALHO */

/* ESTILOS DO DESTAQUE */
.texto-destaque{
    font-family: 'Dancing Script';
    font-weight: 900;
    color: var(--cor-fundo-body);
    
    background: linear-gradient(9deg, var(--cor-fundo-cabecalho) 0%, rgba(118,49,35,0.8) 100%);
    box-shadow: 0 px 8px rgba(0,0,0,0.3);
    top: 68%;
    text-align: center;
}
/* FIM DOS ESILOS DO DESTAQUE */

/* CARD DOS PRODUTOS */
.text-preco{
    color: #94745C;
    font-weight: bold;
  }
.btn-car{
    background-color: var(--cor-letras);
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
input[type=number]::-webkit-inner-spin-button { 
    all: unset; 
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
  }
  input[type=number]{
    width: 80px;
    outline: none;
    border: none;
  } 

  #bg-catalogo{
    background-color: #FBE8E7;
  }
/* FIM CARD DOS CARRINHOS */

/*  botão flutuante CARRINHO */
.carrinho-flutuante{
    position: fixed; 
    width:60px; 
    height:60px; 
    bottom:40px; 
    right:20px; 
    background-color: var(--cor-letras); 
    color:#FFF; 
    border-radius:50px; 
    text-align:center; 
    font-size:30px; 
    box-shadow: 1px 1px 2px #888;
    z-index:100; 
}

.topo-flutuante{
    position: fixed; 
    width:60px; 
    height:60px; 
    bottom:110px; 
    right:20px; 
    background-color: #25D366; 
    color:#FFF; 
    border-radius:50px; 
    text-align:center; 
    font-size:30px; 
    z-index:100;    
    transition: all 0.3s;
}
#sacola{
    color: #fff;
    margin: auto;
}
/* FIM DOS BOTÕES FLUTUANTES */

/* ESTILOS DO FOOTER */
footer{
    font-family: 'Poppins';
    color: var(--cor-letras);
}
/* FIM FOOTER */

/* CARROSEL DE IMAGENS - PC E MOBILE */
.carousel-pc{
    display: none;
}
.embed-insta{
    display: none;
}
/* FIM DOS ESITLOS DO CARROSSEL */
.form-pc{
    display: none;
}


  
  /* Quando a tela passar de 992px (desktop padrão) */
   @media (min-width: 992px){

    .carrosel-mobile{
        display: none;
    }
    .embed-insta{
        display: block;
    }
    .form-mobile{
        display: none;
    }
    .form-pc{
        display: block;
    }
  
  } 

  /* CELULAR / TABLET DEITADO */
  @media (max-width: 768px) and (orientation: landscape){
    #fundo-cabecalho::after {
        content: "";
        display: none;
        height: 25px;
        background: url('../icones/icone-triangulos.svg') repeat-x;
        background-size: auto 100%; 
        background-position: center;
        position: absolute;
        bottom: -100px;
        left: 0;
        width: 100%;
        z-index: 1;
        top: 16%;
         
    }
    .fundo-texto-card{
        text-align: justify;
        width: 20rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-family: 'Poppins';
        color: var(--cor-letras);
    }
 
}

@media (min-width: 768px){
    .fundo-texto-card-sobre{
        text-align: justify;
        width: 40rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
        font-family: 'Poppins';
        color: var(--cor-letras);
    }   
}
  